<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Create a good
    </h1>

    <form method='POST' style="display: flex; flex-direction: column;">
        <input type='text' name='title' placeholder="Item title" />
        <input type='text' name='item_code' placeholder="Item code" />
        <input type='radio' name='good_type' value="box" /> Box
        <input type='radio' name='good_type' value="letter" /> Letter
        <input type='number' name='amount' placeholder="Item amount" />
        <input type='number' name='item_price' placeholder="Item price" />
        <input type='text' name='item_data' placeholder="Item data" />
        <input type="submit" value="Create">
    </form>
</body>
</html>